
body { 
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    font-family: "brother-1816", sans-serif;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
}

header {
    width: 100%;
    color: black;
    padding-top: 100px;
}

header div {
    display: flex;
    justify-content: center;
}

nav {
    background-color: black;
    padding: 10px;
    width: 100%;
    position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}    

main {
    width: 80%;
    max-width: 1660px;
    margin: auto auto 60px auto;
    /* outline: 1px solid red; */
}    


#logo {
    width: 50%;
    max-width: 440px;
    height: auto;
    margin: auto auto -38px auto;
}    

#sub-nav {
    color: #333;
    text-decoration: none;
    margin:  0 0 10px 0;
}    

#sub-nav a {
    text-decoration: none;
    color: #333;
}    

#sub-nav span {
    margin: 0 5px;
}    

#links a img {
    width: 40px;
    margin-top: 20px;
}    

.section-header {
    font-size: 3rem;
    font-weight: 800;
    font-weight: 900;
    font-style: italic;
    margin: 80px 0 32px 0;
    text-transform: uppercase;
    text-align: center;
}    


.projects {
    width: 100%;
}


/* -- Graphic Design -- */

.design-thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}    

.design-thumbnail-container div {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
}    

.design-thumbnail-image {
    width: 100%;
    max-width: 820px;
    height: auto;
    margin: auto;
    border-radius: 22px;
    box-shadow: -8px 8px 14px rgba(0, 0, 0, 0.4);
}    

@media (max-width: 1080px) {
    .design-thumbnail-container div {
        flex: 1 1 100%;    
    }       
}    


/* -- Game Design -- */

.game-thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}    

.game-thumbnail-container div {
    flex: 1 1 calc(33.33% - 20px);
    display: flex;
    justify-content: center;
}    

.game-thumbnail-image {
    width: 100%;
    max-width: 540px;
    height: auto;
    margin: auto;
    border-radius: 22px;
    box-shadow: -8px 8px 14px rgba(0, 0, 0, 0.4);
}    

@media (max-width: 720px) {
    .game-thumbnail-container div {
        flex: 1 1 100%;    
    }       
}    


/* -- 3D -- */

.three-d-thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
}    

.three-d-thumbnail-container div {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    justify-content:center;
}    

.three-d-thumbnail-image {
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 22px;
    box-shadow: -8px 8px 14px rgba(0, 0, 0, 0.4);
}    

@media (max-width: 1080px) {
    .three-d-thumbnail-container div {
        flex: 1 1 100%;
    }   
}


/* -- Music -- */

.music-thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.music-thumbnail-container div {
    flex: 1 1 calc(25% - 20px);
    display: flex;
    justify-content:center;
}

.music-thumbnail-image {
    max-width: 100%;
    border-radius: 22px;
    box-shadow: -8px 8px 14px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1080px) {
    .music-thumbnail-container div {
        flex: 1 1 calc(50% - 20px);
    }   
}

/* -- WIP -- */

.wip-thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.wip-thumbnail-container div {
    flex: 1 1 100%;
    display: flex;
}

.wip-thumbnail-image {
    max-width: 100%;
    border-radius: 22px;
    box-shadow: -8px 8px 14px rgba(0, 0, 0, 0.4);
}