
body {
    background-image: url(../Media/NegEntropicWandering/neg_tile.png);
}

main {
    font-family: "DotGothic16", sans-serif;
    color: white;
}

h3 {
    font-size: 2.4em;
    margin-top: 60px;
    letter-spacing: 0.2em;
}

main a {
    color: #da6c69 !important;
}