
h1 img {
    width: 100%;
    padding-top: 100px;
}

p {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.3em;
    /* font-size: 20px; */
    max-width: 1380px;
    margin: 0 auto 20px auto;
}

.paragraph-h {
    font-size: 2.6rem;
    /* font-size: 30px; */
}

.seamless-work-item {
    margin: 0 auto;
}

.seamless-work-item img {
    width: 100%;
    height: auto;
}

.work-item-margin img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}


/* Flexbox */

.work-flexbox div {
    margin-bottom: 20px;
}

@media (min-width: 1080px) {
    .work-flexbox {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 20px;
        align-items: stretch;
        justify-content: space-between;
    }
    
    .work-flexbox div {
        display: flex;
        margin-bottom: 0px;
        /* flex: 1; */
    }

    .work-flexbox div img{
        object-fit:cover;
        width: 100%;
    }

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }
}


.work-flexbox div img{
    width: 100%;
    height: auto;
}



.youtube-video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

video {
    width: 100%;
    height: auto;
}

.three-d-viewer {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 20px;
}

.screenshot-container img {
    width: 100%;
    height: auto;
}

#lightbox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1100;
}

#lightbox img {
    /* width: 100%; */
    /* width: 1660px; */
    min-width: 80%;
}

.lightbox-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

.lightbox-item {
    cursor: zoom-in;
}

.spacer {
    padding-top: 100px;
}